/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #115739;
    
}
  
/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
a.dif {
    padding: 0;
    
}
  
/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
    padding: 20px;
}
.dropdowndif{
  float: right;
  overflow: hidden;
  padding: 20px;
}
  
/* Dropdown button */
.dropdowndif .dropbtn {
  font-size: 25px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
  
/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdowndif:hover .dropbtn {
  background-color: #197e52;
}
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #197e52;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: 115739;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #115739;
  }
  
  /* Show the dropdown menu on hover */
  .dropdowndif:hover .dropdown-content {
    display: block;
  }

  .difh1 {
    text-align: center;
    padding: 60px 0 60px 0;
    color: white;
    background-color: #115739;
  }