#labList ul{
    list-style-type: circle;
    color: black;
}


ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.active {
    background-color: #197e52;
}

.right {
    float: right;
}

/* HOME PAGE */
.firstlook{
    padding: 150px;
    text-align: center;
    background: #115739;
    color: white;
    font-size: 30px;
}

/* TEXT FOR EC.HTML */
h1 {
    text-align: center;
    padding: 60px 0 60px 0;
    color: white;
    background-color: #115739;
}

h2{
    color: white;
    background-color:#197e52;
    width: 95%;
    padding: 20px 0 20px 20px;

}
h2.specific {
    color: white;
    background-color:#115739;
    width: 95%;
    padding: 20px 0 20px 20px;

}

p{
    padding: 0;
}
h3 {
    padding: 0;
    text-align: center;
    font-size: 22px;
}
img {
    padding: inherit;
    margin: auto;
    text-align: center;
    padding: 0 20px 0 20px;

}

img.lab1 {
    padding: 0;
    border: 5px solid #115739;
    
}
.sectioned{
    padding: 0 0 0 60px;
}

ul.painting_sec{
    background-color: white;
    padding: 0 20px 0 20px;
    text-align: center;
    
    
}


ul.painting_sec li{
    background-color: white;
    padding: 0 10px 0 10px;
    list-style-type: none;
    
}
.painting_sec .main_art img {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
}

.painting {
    padding: 40px 0 30px 0;
    text-align: center;
    /* border-right: 1px solid #000; */
    
}
.painting_dif {
    padding: 40px 10px 30px 85px;
}
.main_art {
    text-align: center;
    padding: 0;
}

.painting p{
    text-align: center;
    padding: 0 30px 0 20px;
}

.left {
    float: left;
}

.side {
    text-align: left;
}

p{
    font-size: 20px;
    padding: 0 100px 0 0;

}

.norm{
    color: white;
}

h2.last_pad {
    margin: 0 0 500px 0;
}



.lab-description {
    display: none; /* Hide descriptions initially */
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.lab-toggle {
    cursor: pointer;
    caret-color: white;
    display: flex;
    align-items: center;
    margin: 10;
}

.lab-toggle .arrow {
    margin-right: 10px;
    transition: transform 0.2s;
}

.color {
    color: black;
}