/* footer */
/* .footer_contacts li{
    display: inline;
    float: right;
} */

footer {
    background-color: #115739;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content p {
    margin: 5px 0;
  }
  
  .footer-content a {
    color: #0077b5;
    text-decoration: none;
  }
  
  .footer-content a:hover {
    text-decoration: underline;
  }